@import "../src/scss/bootsrap";
@import "./scss/header";
@import "./scss/landing";
@import "./scss/sidebar";

.ico {
    background-color: rgb(17, 255, 0);
    position: absolute;
    top: 6rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    margin-left: 50%;
    border-radius: 2rem;
    border: 1px solid rgba(60, 60, 60, 0.249);
}

.bg-custom {
    background-color: rgba(0, 0, 240, 0.728);
    margin-top: 13rem;
    width: 25rem;
}

.card-bg {
    background-color: rgb(0, 0, 155);
}

@media (min-width:0px) and (max-width: 530px) {
    .card {
        margin-top: 2rem;
        width: 100%;
        margin: 0%;
    }
}

.Link {
    height: 1.7rem;
    width: 10rem;
    margin: 0.5rem;
    background: rgb(1, 255, 234);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;

}

.eye {
    height: 2.4rem;
    margin-top: 1rem;
    cursor: pointer;
}

.icon {
    margin-right: 3px;
}

// .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
.center {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
}

#root {
    height: 100vh;
}

.iconh {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    background: black;
    color: white;
    border: none;
    left: 2rem;
    top: 0.5rem;
}