.bg-image {
    // background: #FC354C;
    // background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);
    // background: linear-gradient(to right, hsl(179, 90%, 39%), #FC354C);
    background: url("https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/2a902f109976821.5fe0b1682f8a9.jpg") fixed center no-repeat;
    background-size: cover;
    min-height: calc(100vh-65px);
    width: 100%;
}

.customcard {
    margin-top: 17rem;
    background: transparent;
}

.card-custom {
    height: 17rem;
    width: 25rem;
    margin-left: 1rem;
    margin-top: 3rem;
}