.bg-image {
    // background: #3494E6;
    // background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    // background: linear-gradient(to right, #EC6EAD, #3494E6);
    background: url("https://mcdn.wallpapersafari.com/medium/18/36/m3CPF8.jpg") fixed center no-repeat;
    background-size: cover;
    height: 86vh;
    width: 100%;
}

.customcard {
    margin-top: 17rem;
    background: transparent;
}

.card-custom {
    height: 17rem;
    width: 25rem;
    margin-left: 1rem;
    margin-top: 3rem;
}