.bg-image {
    // background: #3494E6;
    // background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);
    // background: linear-gradient(to right, #EC6EAD, #3494E6);
    background: url("file:///D:/bilal/lamguages/html/program%20by%20me/images/banking@2x.png" ) fixed center no-repeat;
    background-size: cover;
    height: 86vh;
    width: 100%;
}

.customcard {
    margin-top: 17rem;
    background: transparent;
}